{% extends "page.html" %}

{% block main %}

<div class="container">

    <div style="font-size:25px; margin-bottom: 150px" >
        <h1 style="text-align:center">NOTICES</h1>
        <ul id="notices-list">  </ul>
    </div>
    <div class="row">
        <div class="text-center">
            {% if user.running %}
            <a id="stop" role="button" class="btn btn-lg  btn-danger" >Stop My Server</a>
            {% endif %}
            <a id="start"role="button" class="btn btn-lg btn-success" href="{{ url }}">
                {% if not user.running %}
                Start
                {% endif %}
                My Server
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    require(["home"]);
    
    // TEST AJAX CODE.
    $(document).ready(function () {
        let url="https://dawn-team.github.io/data/notices-list.json";
        $.ajax({
            url: url,
            type: "GET",
            async: true,
            dataType: "json",
            success: function (data) {
                $.each(data, function() {
                    $("#notices-list").append(this);
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>
{% endblock %}